# Import Library

In [1]:
import pandas as pd
##import pandas as pd adalah pengimpor dari library/pustaka pandas, yang dimana data yang dijabarkan juga memengaruhi terhadap suatu dataset yang diuraikan dengan pemrograman python, juga penamaan nya menggunakan pd.

# Membaca Dataset

In [2]:
diabetes = pd.read_csv('K02_diabetes.csv')
#diabetes = pd.read_csv('K02_diabetes.csv') adalah pembacaan file csv, dimana skrip membaca file dengan nama file K02_diabetes.csv dan pemanggilan untuk membaca file dengan penamaan diabetes.

# Dataset

In [3]:
diabetes
#diabetes adalah penamaan pemanggilan file yang telah ditentukan sebelumnya, yang dimana dapat memanggil file yang telah dinamakan, dengan penamaan diabetes.

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

# Tipe Data

In [4]:
diabetes.info()
#diabetes.info() adalah pembacaan tipe data, dimana dengan penamaan diabetes yang terkait dengan pembacaan file yang ditentukan dan dipanggil dengan ".info()".

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

# Mennetukan Nilai Unik

In [5]:
diabetes["gender"].unique()
#diabetes["gender"].unique() adalah kolom dari gender, dimana siklusnya bersifat bisa saja dominan ada ataupun mengenali sifat-sifatnya, dengan penamaan pembaca file yaitu diabetes dan mengenali sifat yang mempunyai ciri khas yaitu .unique().

array(['Female', 'Male', 'Other'], dtype=object)

In [6]:
diabetes["hypertension"].unique()
#diabetes["hypertension"].unique() adalah kolom dari hypertension, dimana siklusnya bersifat bisa saja dominan ada ataupun mengenali sifat-sifatnya, dengan penamaan pembaca file yaitu diabetes dan mengenali sifat yang mempunyai ciri khas yaitu .unique().

array([0, 1], dtype=int64)

In [7]:
diabetes["heart_disease"].unique()
#diabetes["heart_disease"].unique() adalah kolom dari heart_disease, dimana siklusnya bersifat bisa saja dominan ada ataupun mengenali sifat-sifatnya, dengan penamaan pembaca file yaitu diabetes dan mengenali sifat yang mempunyai ciri khas yaitu .unique().

array([1, 0], dtype=int64)

In [8]:
diabetes["smoking_history"].unique()
#diabetes["smoking_history"].unique() adalah kolom dari smoking_history, dimana siklusnya bersifat bisa saja dominan ada ataupun mengenali sifat-sifatnya, dengan penamaan pembaca file yaitu diabetes dan mengenali sifat yang mempunyai ciri khas yaitu .unique().

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [9]:
diabetes["blood_glucose_level"].unique()
#diabetes["blood_glucose_level"].unique() adalah kolom dari blood_glucose_level, dimana siklusnya bersifat bisa saja dominan ada ataupun mengenali sifat-sifatnya, dengan penamaan pembaca file yaitu diabetes dan mengenali sifat yang mempunyai ciri khas yaitu .unique().

array([140,  80, 158, 155,  85, 200, 145, 100, 130, 160, 126, 159,  90,
       260, 220, 300, 280, 240], dtype=int64)

In [10]:
diabetes["diabetes"].unique()
#diabetes["diabetes"].unique() adalah kolom dari diabetes, dimana siklusnya bersifat bisa saja dominan ada ataupun mengenali sifat-sifatnya, dengan penamaan pembaca file yaitu diabetes dan mengenali sifat yang mempunyai ciri khas yaitu .unique().

array([0, 1], dtype=int64)

# Statistik Deskriptif

In [11]:
diabetes.describe()
#diabetes.describe() adalah penyingkat yang dikumpulkan dari data, dimana dari pembaca penamaan file dan tersimpulkan dari .describe().

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

# Encoding

# Import Library

In [12]:
from sklearn.preprocessing import LabelEncoder
#from sklearn.preprocessing import LabelEncoder adalah penjabaran ataupun proses pembentukan, dimana data telah disiapkan sebelumnya yaitu LabelEncoder, juga pemanggilan library/pustaka sklearn.

# Mengubah Values Kolom

In [13]:
for col in ['gender', 'hypertension', 'heart_disease', 'smoking_history', 'blood_glucose_level', 'diabetes']:
    label_encoder = LabelEncoder()
    diabetes[col] = label_encoder.fit_transform(diabetes[col])
#for col in ['gender', 'hypertension', 'heart_disease', 'smoking_history', 'blood_glucose_level', 'diabetes']:
#    label_encoder = LabelEncoder()
#    diabetes[col] = label_encoder.fit_transform(diabetes[col])
#Dimana, kolom gender, hypertension, heart_disease, smoking_history, blood_glucose_level dan diabetes berkaitan terhadap pemanggilan penamaan file yaitu diabetes. Juga dimana library sklearn yang digunakan pada kelas LabelEncoder dan menjalankan encoding pada kolom tersebut. Dan juga, perulangan pada penamaan pemanggilan file dan kolom tersebut.

In [14]:
diabetes
#diabetes adalah penamaan pemanggilan file yang telah ditentukan sebelumnya, yang dimana dapat memanggil file yang telah dinamakan, dengan penamaan diabetes.

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,6,0
1,0,54.0,0,0,0,27.32,6.6,0,0
2,1,28.0,0,0,4,27.32,5.7,9,0
3,0,36.0,0,0,1,23.45,5.0,8,0
4,1,76.0,1,1,1,20.14,4.8,8,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,2,0
99996,0,2.0,0,0,0,17.37,6.5,3,0
99997,1,66.0,0,0,3,27.83,5.7,8,0
99998,0,24.0,0,0,4,35.42,4.0,3,0
99999,0,57.0,0,0,1,22.43,6.6,2,0

# Memisahkan Kolom Target

In [15]:
x = diabetes.drop('diabetes', axis = 1)
y = diabetes['diabetes']
#x = diabetes.drop('diabetes', axis = 1)
#y = diabetes['diabetes']
#Dimana, pada penamaan y, berisi kolom diabetes pada dataset diabetes, lalu, pada penamaan x, penghapusan kolom diabetes pada dataset diabetes.

In [16]:
x
#x adalah penamaan untuk menampilkan

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,0,80.0,0,1,4,25.19,6.6,6
1,0,54.0,0,0,0,27.32,6.6,0
2,1,28.0,0,0,4,27.32,5.7,9
3,0,36.0,0,0,1,23.45,5.0,8
4,1,76.0,1,1,1,20.14,4.8,8
...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,2
99996,0,2.0,0,0,0,17.37,6.5,3
99997,1,66.0,0,0,3,27.83,5.7,8
99998,0,24.0,0,0,4,35.42,4.0,3
99999,0,57.0,0,0,1,22.43,6.6,2

In [17]:
y
#y adalah sama halnya dengan penamaan x, y juga untuk menampilkan, hanya saja bedanya y hanya menampilkan kolom diabetes yang terhapus.

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

# Splitting Data

In [18]:
from sklearn.model_selection import train_test_split
#from sklearn.model_selection import train_test_split adalah data yang ditekan, dimana adanya train dan test pada data yaitu import train_test_split. Dan, mengimpor library/pustaka sklearn yaitu from sklearn.model_selection.

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.75)
#x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.75) adalah keluaran dari pembagian (yaitu x_train, x_test, y_train dan y_test), dimana dataset yang dipengaruhi variabel x dan y terhadap output maupun input, pembagian data juga diatur dengan 75% atau 75/100 terhadap rasio yang digunakan.

In [20]:
x_train.shape
#x_train.shape adalah dimensi dari variabel x terhadap latihan

(25000, 8)

In [21]:
x_test.shape
#x_test.shape adalah dimensi dari variabel x terhadap tes

(75000, 8)

In [22]:
y_train.shape
#y_train.shape adalah dimensi dari variabel y terhadap latihan

(25000,)

In [23]:
y_test.shape
#y_test.shape adalah dimensi dari variabel y terhadap tes

(75000,)

# Naive Bayes

# Import Library

In [24]:
from sklearn.naive_bayes import GaussianNB
#from sklearn.naive_bayes import GaussianNB adalah data yang sudah diurai terhadap perkiraan, yang berasal dari pustaka sklearn, lebih tepatnya yaitu sklearn.naive_bayes dari kumpulan GaussianNB.

# Mengtrain Naive Bayes

In [25]:
modelNB = GaussianNB()
modelNB.fit(x_train, y_train)
#modelNB = GaussianNB()
#modelNB.fit(x_train, y_train)
#Dimana, penjabaran terhadap data yang dilatih, juga melakukan perkiraan.

GaussianNB()

# Testing Model (Prediksi)

In [26]:
hasil_prediksi = modelNB.predict(x_test)
#hasil_prediksi = modelNB.predict(x_test) adalah pola GaussianNB, dimana telah dibentuk terhadap perkiraan untuk data tes.

# Import Library

In [27]:
from sklearn.metrics import accuracy_score
#from sklearn.metrics import accuracy_score adalah sebuah contoh catatan terhadap catatan yang seharusnya, dimana perpaduan hasil perkiraan juga contoh pengenalan yang telah dibentuk sebelumnya terhadap perhitungan ketepatan. Hal ini berasal dari pemasukan satuan dari accuracy_score, juga pemasukan dari library/pustaka sklearn.

# Cek Keakuratan

In [28]:
print('Akurasi Model :', accuracy_score(y_test, hasil_prediksi))
#print('Akurasi Model :', accuracy_score(y_test, hasil_prediksi)) adalah data tes yang sesungguhnya, dimana pola perkiraan dengan paduan hasil perkiraan dengan perhitngaan ketepatan. Dan juga menunjukkan hasil perkiraan dalam sebuah tulisan.

Akurasi Model : 0.8951066666666667

# Mengevaluasi Tingkat Akurasi

In [29]:
pasien = ([[2,21,0,0,1,30,3,80]])
hasil_prediksi_pasien = modelNB.predict(pasien)
print(hasil_prediksi_pasien)
#pasien = ([[2,21,0,0,1,30,3,80]])
#hasil_prediksi_pasien = modelNB.predict(pasien)
#print(hasil_prediksi_pasien)
#Dimana, sebuah larik terhadap hasil perkiraan ditampilkan, data pasien menggunakan pola GaussianNB yang telah dibentuk terhadap perkiraan, dan sebuah larik yang menyimpan data pasien.
#Tambahan: pada baris pasien = ([[2,21,0,0,1,30,3,80]]), mengenali dan mengisikan terhadap jenis data-data pada setiap kolom yang ada di dataset. Juga, output 1 di bawah ini menunjukkan sebuah hasil.

[1]

C:\Users\anugr\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(